[Unit]
Description=Plum Commerce
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ssm-user
Group=ssm-user
WorkingDirectory=/home/ssm-user/plumcommerce_old
EnvironmentFile=/home/ssm-user/plumcommerce_old/.env
ExecStart=/usr/bin/node /home/ssm-user/plumcommerce_old/src/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
